* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-orange: #f57224;
}

body {
  background-color: #00000008;
  font-family: "Noto Sans", sans-serif;
}

.header-TopBar {
  width: 100%;
  background: #00000008;
}

.topbar-lists {
  max-width: 1188px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 0 12px;
  font-size: 11px;
  align-items: center;
  line-height: 22px;
  flex-wrap: wrap;
  cursor: pointer;
}

.topbar-lists a {
  text-decoration: none;
}

.feedback {
  color: #ff00ff;
  transition: color 0.3s ease;
}

.safe-sell-care {
  color: #0f1568;
  transition: color 0.3s ease;
}

.rest {
  color: #9e9e9e;
  transition: color 0.3s ease;
}

.feedback:hover {
  color: var(--primary-orange);
  cursor: pointer;
}

.safe-sell-care:hover {
  color: var(--primary-orange);
  cursor: pointer;
}

.rest:hover {
  color: var(--primary-orange);
  cursor: pointer;
}

.search-section {
  background-color: white;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.search-line {
  max-width: 1188px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}

.container-logo-search-order {
  max-width: 100px;
}

.logo-img img {
  width: 100%;
  height: auto;
  display: block;
}

.container-input {
  flex: 1 1 auto;
  position: relative;
}

.input-area {
  display: flex;
  width: 100%;
}

.search {
  flex-grow: 1;
  padding: 8px 12px;
  font-size: 13px;
  border: 0.3px solid #ccc;
  border-radius: 2px 0 0 2px;
  background-color: #eff0f5;
}

.button-submit {
  background-color: var(--primary-orange);
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  font-weight: 600;
  font-size: 13px;
}

.order {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.month-deal {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.order img {
  max-height: 20px;
  object-fit: contain;
}

.month-deal img {
  max-height: 35px;
  object-fit: contain;
}

.container-banner {
  width: 100%;
}

.slide-banner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1188px;
  gap: 8px;
}

.left-side {
  flex: 5;
}

.banner-item-left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.right-side {
  flex: 1;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0)),
    linear-gradient(179.27deg, #ffedd6 0.83%, #ffc3e3 46.78%, #fff 99.57%),
    linear-gradient(0deg, #fff, #fff);
}

.content-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.try-lazada {
  display: flex;
  width: 100%;
}

.first-logo {
  height: 38px;
  width: 38px;
}

.first-logo img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.describe {
  color: #6c1d00;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 5px;
  max-width: 120px;
}

.laz-utilities {
  display: flex;
  width: 100%;
}

.background-utilities {
  background-size: 100%;
  height: 140px;
  margin-top: 5px;
  width: 100%;
  position: relative;
}

.background-utilities img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.icon-top-utilities {
  height: 10px;
  width: 9px;
}

.icon-top-utilities img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-laz-utilities {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 7px;
  margin-top: 7px;
  top: 0;
  left: 0;
}

.top-laz-utilities-describe {
  font-size: 9px;
  color: white;
  font-weight: bolder;
}

.freeship-voucher {
  position: absolute;
  top: 60px;
  left: 9px;
}

.freeship {
  display: flex;
}

.voucher {
  display: flex;
}

.free-ship-icon {
  width: 32px;
  height: 32px;
}

.voucher-icon {
  width: 32px;
  height: 32px;
}

.free-ship-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voucher-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.freeship-describe {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  margin-left: 8px;
}

.voucher-describe {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  margin-left: 8px;
}

.down-to-enjoy {
  color: white;
  font-size: 11px;
  max-width: 150px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 15px;
  font-weight: bolder;
  z-index: 10;
}

.qr-download {
  width: 100%;
  height: 80px;
  margin-top: 8px;
}

.qr-download-container {
  display: flex;
}

.qr-code {
  width: 80px;
  height: 80px;
}

.qr-code img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.platform-download {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.platform-download-img1 {
  width: 100%;
  height: 50%;
}

.platform-download-img2 {
  width: 100%;
  height: 50%;
}

.platform-download-img1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.platform-download-img2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.note {
  font-size: 9px;
  color: #2e3346;
  margin: 5px 0 0 3px;
}

.lazmall-voucher-topup {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 8px;
}

.container-lazmall-voucher-topup {
  display: flex;
  gap: 12px;
  max-width: 1188px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.topup-item {
  flex: 1;
  width: 30%;
  height: 130px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.icon-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
  height: 130px;
  gap: 8px;
}

.icon-text img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.text p {
  color: #2e3346;
  font-size: 15px;
  color: #555;
}

.text-voucher:hover {
  color: rgb(245, 166, 35);
  cursor: pointer;
}

.text-lazmal:hover {
  color: rgb(206, 9, 9);
  cursor: pointer;
}

.text-card:hover {
  color: rgb(80, 227, 224);
  cursor: pointer;
}

.thumbnail {
  width: 138px;
  height: 130px;
  object-fit: cover;
}

.banner-sale .sale-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1188px;
}

.sale-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.flash-deal {
  width: 100%;
  padding-top: 30px;
}

.flash-deal-container {
  width: 100%;
  max-width: 1188px;
  margin: 10px auto;
  background-color: white;
}

.flash-deal-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 12px 0;
  background-color: #fff;
}

.flash-deal-title h2 {
  font-size: 20px;
  color: #424242;
  font-weight: 400;
}

.deal-tabs {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
}

.on-sell {
  color: var(--primary-orange);
  font-weight: bolder;
}

.tab {
  color: #424242;
}

.countdown {
  display: flex;
  align-items: center;
  gap: 3px;
}

.watch-more-tele {
  display: flex;
  justify-content: center;
  color: gray;
  border: 1px solid gray;
}

.view-all {
  font-size: 12px;
  color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bolder;
}

.countdown span {
  background-color: #d0011b;
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.deal-product-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1188px;
}

.deal-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 180px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 7px;
  margin-right: 12px;
  padding: 8px;
  transition: box-shadow 0.1s ease;
}

.deal-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.deal-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 8px;
}

.name {
  font-size: 13px;
  color: #000000;
  overflow: hidden;
}

.price {
  font-size: 16px;
  color: var(--primary-orange);
  margin-top: 4px;
  text-align: center;
}

.old-discount {
  display: flex;
  justify-content: center;
}

.old {
  font-size: 11px;
  color: #9e9e9e;
  text-decoration: line-through;
  text-align: start;
}

.discount {
  all: unset;
  font-size: 11px;
  margin-left: 4px;
}

.lazmall-section {
  width: 100%;
}

.lazmall-container {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
}

.lazmall-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.lazmall-item {
  min-width: 180px;
  position: relative;
  padding: 4px;
  height: 270px;
  background-color: #fff;
  transition: box-shadow 0.1s ease;
}

.picture-container {
  width: 100%;
  height: 188px;
  position: relative;
}

.lazmall-img {
  width: 100%;
  height: 100%;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-logo {
  width: 52px;
  height: 52px;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-img {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.lazmall-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shop-name {
  font-size: 13px;
  text-align: center;
  margin-top: 6px;
}

.list-category {
  width: 100%;
  padding-top: 30px;
}

.categories-container {
  max-width: 1188px;
  width: 100%;
  margin: auto;
}

.categories-container .category-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.category-list .category-item {
  background-color: white;
  border-right: 1px solid #dcd8d8;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.1s ease;
}

.category-list .category-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-list .category-item .category-icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.item-for-you {
  width: 100%;
  padding-top: 30px;
}

.item-for-you-container {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
}

.list-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 180px;
  text-decoration: none;
  transition: box-shadow 0.1s ease;
}

.list-items:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item {
  width: 100%;
  background-color: white;
  border: 1px solid #dcd8d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item .item-img {
  width: 100%;
  height: 189px;
}

.item .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-detail {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.item-name p {
  font-size: 14px;
  overflow: hidden;
  max-height: 38px;
  color: black;
}

.item-name img {
  width: max-content;
  height: 16px;
}

.item-price {
  color: var(--primary-orange);
  font-weight: bolder;
}

.item-discount {
  color: #212121;
  font-size: 12px;
  margin-left: 4px;
  opacity: 0.8;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stars::before {
  content: "⭐⭐⭐⭐⭐";
  color: gold;
  font-size: 12px;
}

.votes {
  font-size: 12px;
  color: #555;
}

.more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1a9cb8;
  max-width: 387px;
  width: 100%;
  height: 40px;
  margin: 20px auto;
}

.more {
  text-decoration: none;
  color: #1a9cb8;
}

hr {
  width: 100%;
  max-width: 1188px;

  margin: 0 auto;
  opacity: 30%;
}

footer {
  width: 100%;
  padding: 24px 0;
}

.footer-first-thumnail {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
}

.footer-first-thumnail-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.thumnail-img {
  flex: 1;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.1s ease;
}

.thumnail-img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.thumnail-img img {
  width: 100%;
  max-height: 97px;
  height: auto;
  object-fit: cover;
}

.footer-info-section {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0 25px;
  justify-content: space-between;
}

.contact {
  flex: 1;
}

.contact h3 {
  color: #0f136d;
  font-size: 16px;
  font-weight: 500;
}

.info-detail {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.address {
  flex: 2;
}

.info-detail a {
  display: inline-block;
  width: max-content;
  text-decoration: none;
  color: #0f136d;
  border-bottom: 1px solid transparent;
  transition: border-color 0.1s ease;
}

.info-detail a:hover {
  border-bottom-color: #0f136d;
}

.laz-alway-better {
  display: flex;
  flex-direction: column;
}

.laz-alway-better-top {
  display: flex;
}

.laz-alway-better-logo {
  display: flex;
}

.laz-alway-better-logo-img {
  max-width: 42px;
  max-height: 42px;
}

.laz-alway-better-logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.laz-alway-better-logo-title {
  padding: 0 15px;
}

.laz-alway-better-logo-title1 {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: #f36f36;
}

.laz-alway-better-logo-title2 {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  color: #0f136d;
}

.available-platform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.licening-company {
  margin-top: 5px;
  max-width: 594px;
}

.licening-company p {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  color: #0f136d;
}

.payment-delivery-verified {
  width: 100%;
  background-color: white;
}

.payment-delivery-verified-title {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: #183544;
  font-weight: 400;
  margin-bottom: 15px;
}

.payment-delivery-verified-container {
  display: flex;
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
}

.payment-delivery-verified-area {
  flex: 1;
}

.payment-platform {
  display: flex;
  flex-direction: column;
}

.payment-platform-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.payment-platform-img img {
  max-height: 39px;
  width: auto;
}

.verified-platform {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.verified-platform-img {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.verified-platform-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verified-platform-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.lazada-overview-section {
  width: 100%;
}

.lazada-overview-section-container {
  display: flex;
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
  justify-content: space-between;
}

.lazada-overview-content {
  flex: 1;
  padding-right: 4%;
}

.lazada-overview-content h2 {
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 5px;
}

.lazada-overview-content p {
  color: rgb(136, 136, 136);
  font-size: 12px;
}

@media (max-width: 739px) {
  .header-TopBar {
    display: none;
  }
  .right-side {
    display: none;
  }

  .lazmall-voucher-topup {
    display: none;
  }

  .lazmall-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .deal-product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .order {
    display: none;
  }

  .month-deal {
    display: none;
  }

  .footer-info-section {
    display: flex;
    flex-wrap: wrap;
  }

  .item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .view-all {
    display: none;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .order {
    display: none;
  }

  .month-deal {
    display: none;
  }

  .lazmall-voucher-topup {
    display: none;
  }
  .lazmall-voucher-topup {
    padding: 10px 5px;
    margin: 0 auto;
  }
  .container-lazmall-voucher-topup {
    min-width: 740px;
    max-width: 100%;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .topup-item {
    min-width: 220px;
    height: 110px;
    padding: 12px;
    align-items: center;
  }

  .icon-text {
    height: 110px;
    width: 45%;
    gap: 6px;
  }

  .icon-text img {
    max-height: 50px;
    width: auto;
    object-fit: contain;
  }

  .text p {
    font-size: 12px;
  }

  .thumbnail {
    width: 110px;
    height: 110px;
    object-fit: cover;
  }

  .item-for-you-container {
    min-width: 740px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .item-container {
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    gap: 10px;
  }

  .list-items {
    min-width: 180px;
  }
}

@media (min-width: 1024px) {
  .watch-more-tele {
    display: none;
  }
}
